<h1 class="text-2xl font-bold mb-4">New Blog Post</h1>
<%= render 'form', blog_post: @blog_post %>
<%= link_to 'Back to posts', blog_posts_path, class: 'text-blue-600 hover:underline mt-4 inline-block' %>