<h1 style="text-align: center; margin-top: 20px;">My Personal Blog</h1>

<% @blog_posts.each do |blog_post| %>
  <div style="border: 1px solid #ccc; padding: 10px; margin: 10px;">
    <h2 style="color: #333;"><%= link_to blog_post.title, blog_post %></h2>
    <p style="font-size: 16px; line-height: 1.4;"><%= blog_post.body %></p>
  </div>
<% end %>
